body{
    background-image: url("литературный фон.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Lobster";
    font-weight: 200;
    font-style: normal;
    text-align: justify;
}