body{
    background-image:url('главная страница фон.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#VORPIS{
    font-size: 120px;
    font-family: "Great Vibes", cursive;
    font-weight: 550;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}
#osnovnoi{
    font-size: 30px;
    font-family: "Bitter", cursive;
    font-weight: 550;
    background-color: rgba(127,127,127,0.6);
    text-align:justify;
}
.authors{
    margin: 40px;
    background-image:url("литературный фон.jpg");
    border-width: 5px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-radius: 20px;
    width:60%;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
    font-weight: 550;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    padding-top:60px;
    padding-bottom: 60px;
}